{{ define "main" }}
  {{ if eq .RelPermalink "/about/donor-wall/" }}
  <div class="contents-area" id="main-content">
    {{ partial "base/breadcrumb" . }}
    <div class="container pt-12 pb-28 relative">
      <h1 class="text-4xl mb-4 font-bold mb-8">{{ .Title }}</h1>
      {{ partial "marketing/sharingbutton" . }}
      {{ partial "marketing/banner--section-single" . }}
      {{ .Content }}
    </div>
  </div>
  {{ else }}
  <div class="contents-area" id="main-content">
    {{ partial "base/breadcrumb" . }}
    <div class="container pt-12 pb-28 relative">
      <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">{{ .Title }}</h1>
      {{ partial "marketing/sharingbutton" . }}
      {{ partial "marketing/banner--section-single" . }}
      {{ .Content }}
    </div>
  </div>
  {{ end }}
{{ end }}