<div class="lg:flex justify-center mb-20">
    <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">“일본군 성노예제란 ?</h2>
    <div class="text-lg">
        <p class="mb-7">1930년대부터 1945년 일본의 패전에 이르기까지 일본군이 제도적으로 ‘군위안소’를 설치하여 점령지와 식민지 여성들을 동원해 성노예로 만든 범죄를 말합니다. 범죄의 주체인 일본군을 명기하고 역사적인 용어로서의 위안부를 따옴표 안에 넣어 일본군‘위안부’로 표기하며, 영어로는 Military Sexual Slavery by Japan 으로 표현하여 ‘성노예’라는 범죄의 본질을 드러내고 있습니다. </p>

        <p class="mb-7 font-bold">[ 혼동되기 쉬운 단어 ] </p>

        <p class="mb-7">* 종군위안부 : ‘종군’에는 자발적이었다는 의미가 포함되어 있습니다.</p>

        <p class="mb-7">* 정신대 : 일본의 전시체제 돌입과 함께 조선의 노동력을 강제 동원한 제도를 말하며, 여성의 경우 여자(근로)정신대라는 이름으로 광범위하게 사용되었습니다.</p>
    </div>
</div>