{{ with site.Data.comfort_women.ko }}
<div class="lg:flex justify-center pt-12">
    <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .definition.title }}</h2>
    <div class="text-lg">
        <p class="mb-7">{{ .definition.section_01.body }}</p>
        <p class="mb-7 font-bold">[ {{ .definition.혼동되기쉬운단어.title }} ] </p>
        {{ range .definition.혼동되기쉬운단어.body }}
            <p class="mb-7">{{ . }}</p>
        {{ end }}
    </div>
</div>
<div class="mb-20"> 
    <ul class="flex flex-wrap pt-6">
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full object-cover" src="{{ .definition.황금주.src }}" alt="{{ .definition.황금주.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.황금주.title }}</p>
        </li>
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.피해자들.src }}" alt="{{ .definition.피해자들.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.피해자들.title }}</p>
        </li>
    </ul>
</div>
<div class="mb-20">
    <ul class="flex flex-wrap pt-6">
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full object-cover" src="{{ .definition.군위안소종업부등모집에관한건.src }}" alt="{{ .definition.군위안소종업부등모집에관한건.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.군위안소종업부등모집에관한건.title }}</p>
        </li>
        <li class="lg:w-1/2 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.일본군위안소분포도.src }}" alt="{{ .definition.일본군위안소분포도.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.일본군위안소분포도.title }}</p>
        </li>
    </ul>
    <p class="mt-7 mb-7">{{ .definition.section_02.body }}</p>
</div>
<div class="mb-20">
    <ul class="flex flex-wrap pt-6">
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full object-cover" src="{{ .definition.위안소에서사용된콘돔.src }}" alt="{{ .definition.위안소에서사용된콘돔.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.위안소에서사용된콘돔.title }}</p>
        </li>
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.위안소규정.src }}" alt="{{ .definition.위안소규정.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.위안소규정.title }}</p>
        </li>
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.위안소앞에서.src }}" alt="{{ .definition.위안소앞에서.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.위안소앞에서.title }}</p>
        </li>        
    </ul>
    {{ range .definition.section_03.body }}
      <p class="mb-7">{{ . }}</p>
    {{ end }}
</div>
<div class="mb-20">
    <ul class="flex flex-wrap pt-6">
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full object-cover" src="{{ .definition.위안소내부모습.src }}" alt="{{ .definition.위안소내부모습.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.위안소내부모습.title }}</p>
        </li>
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.성병검진대.src }}" alt="{{ .definition.성병검진대.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.성병검진대.title }}</p>
        </li>
        <li class="lg:w-1/3 w-full">
            <span class="block overflow-hidden relative" style="padding-bottom:100%">
                <img class="absolute w-full" src="{{ .definition.박영심할머니.src }}" alt="{{ .definition.박영심할머니.title }}">
            </span>
            <p class="mb-7 font-bold text-center">{{ .definition.박영심할머니.title }}</p>
        </li>        
    </ul>
    {{ range .definition.section_04.body }}
      <p class="mb-7">{{ . }}</p>
    {{ end }}
</div>
{{ end }}