{{ with site.Data.activity.ko.memorial }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <div 
            x-data="{
            openTab: 1,
            activeClasses: 'border-2 border-aa-purple-500 text-aa-purple-500',
            inactiveClasses: 'text-gray-900 hover:text-aa-purple-500'
            }" 
            class="p-2 xl:p-8"
        >
            <ul class="flex items-start justify-start text-lg md:text-3xl">
                <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="-mb-px mx-4 xl:mx-16">
                    <a :class="openTab === 1 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .기림일.slug }}">{{ .기림일.title }}</a>
                </li>
                <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 2 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .국내평화비.url }}">{{ .국내평화비.title }}</a>
                </li>
                <li @click="openTab = 3" :class="{ '-mb-px': openTab === 3 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 3 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .해외평화비.url }}">{{ .해외평화비.title }}</a>
                </li>    
            </ul>            
            <div class="w-full pt-4">
                <div x-show="openTab === 1">
                    {{ range .기림일.목록 }}
                        <div class="lg:flex justify-start pt-6">
                            <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}</h2>
                            <div class="text-lg">
                                <p class="mb-7">{{ .body }} </p>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div x-show="openTab === 2">
                    <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4 pt-12">{{ .국내평화비.평화비의의미.title }}</h2>
                    {{ range .국내평화비.평화비의의미.body }}
                        <div class="lg:flex justify-start pt-6">
                            <div class="text-lg">
                                <p class="mb-7">{{ . }} </p>
                            </div>
                        </div>
                    {{ end }}
                    <div class="mb-8"> 
                        <ul class="flex flex-wrap pt-6">
                            <li class="w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:50%">
                                    <img class="absolute w-full object-cover" src="{{ .국내평화비.평화비의의미.src }}" alt="{{ .국내평화비.평화비의의미.title }}">
                                </span>
                                <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4 pt-12">{{ .국내평화비.평화비의의미.평화비구매.title }}</h2>
                                <p class="mb-7 mt-7 text-lg text-start">{{ .국내평화비.평화비의의미.평화비구매.body }}</p>
                                <p class="mb-7 mt-7 text-lg text-start text-aa-purple-500 underline"><a href="{{ .국내평화비.평화비의의미.평화비구매.url }}">{{ .국내평화비.평화비의의미.평화비구매.url }}</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-8"> 
                        <ul class="flex flex-wrap pt-6">
                            <li class="w-full">
                                <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4 pt-12">{{ .국내평화비.국내건립현황.title }}</h2>
                                <p class="mb-7 mt-7 text-lg text-start">{{ .국내평화비.국내건립현황.body }}</p>
                                <p class="mb-7 mt-7 text-lg text-start text-aa-purple-500 underline"><a href="{{ .국내평화비.국내건립현황.src }}">{{ .국내평화비.국내건립현황.title }}(엑셀다운로드)</a></p>
                            </li>
                        </ul>
                    </div>                                    
                </div>
                <div x-show="openTab === 3">
                    <div class="mb-8"> 
                        <ul class="flex flex-wrap pt-6">
                            <li class="w-full">
                                <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4 pt-12">{{ .해외평화비.해외건립현황.title }}</h2>
                                <p class="mb-7 mt-7 text-lg text-start">{{ .해외평화비.해외건립현황.body }}</p>
                                <p class="mb-7 mt-7 text-lg text-start text-aa-purple-500 underline"><a href="{{ .해외평화비.해외건립현황.src }}">{{ .해외평화비.해외건립현황.title }}(엑셀다운로드)</a></p>
                            </li>
                        </ul>
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</div>
{{ end }}