{{ with site.Data.activity.ko.victim_support }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <div 
            x-data="{
            openTab: 1,
            activeClasses: 'border-2 border-aa-purple-500 text-aa-purple-500',
            inactiveClasses: 'text-gray-900 hover:text-aa-purple-500'
            }" 
            class="p-2 xl:p-8"
        >
            <ul class="flex items-start justify-start text-lg md:text-3xl">
                <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="-mb-px mx-4 xl:mx-16">
                    <a :class="openTab === 1 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .활동소개.slug }}">{{ .활동소개.title }}</a>
                </li>
                <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 2 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="{{ .할머니소식.url }}" target="_blank">{{ .할머니소식.title }}</a>
                </li>
            </ul>
            <div class="w-full pt-4">
                <div x-show="openTab === 1">
                    <div class="lg:flex justify-center pt-12 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}</h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .활동소개.section_01 }} </p>
                        </div>
                    </div>
                    {{ range .활동소개.목록 }}
                    <div class="lg:flex justify-start">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}</h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .body }} </p>
                        </div>
                    </div>
                    {{ end }}                
                </div>                
            </div>
        </div>
    </div>
</div>
{{ end }}