{{ with site.Data.activity.ko.wednesday_demonstration }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <div 
            x-data="{
            openTab: 1,
            activeClasses: 'border-2 border-aa-purple-500 text-aa-purple-500',
            inactiveClasses: 'text-gray-900 hover:text-aa-purple-500'
            }" 
            class="p-2 xl:p-8"
        >
            <ul class="flex items-start justify-start text-lg md:text-3xl">
                <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="-mb-px mx-4 xl:mx-16">
                    <a :class="openTab === 1 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .의미.slug }}">{{ .의미.title }}</a>
                </li>
                <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 2 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .연혁.slug }}">{{ .연혁.title }}</a>
                </li>
                <li @click="openTab = 3" :class="{ '-mb-px': openTab === 3 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 3 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .참여.slug }}">{{ .참여.title }}</a>
                </li> 
                <li @click="openTab = 4" :class="{ '-mb-px': openTab === 4 }" class="mx-4 xl:mx-16">
                    <a :class="openTab === 4 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="{{ .이번주수요시위.url }}" target="_blank">{{ .이번주수요시위.title }}</a>
                </li>
            </ul>
            <div class="w-full pt-4">
                <div x-show="openTab === 1 ">
                    {{ with .의미 }}
                    <div class="lg:flex justify-center pt-12 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .section_01.body }} </p>
                        </div>
                    </div>
                    <div class="mb-8"> 
                        <ul class="flex flex-wrap pt-6">
                            <li class="lg:w-1/2 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full object-cover" src="{{ .wed_1차수요시위.src }}" alt="{{ .wed_1차수요시위.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_1차수요시위.title }}</p>
                            </li>
                            <li class="lg:w-1/2 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full" src="{{ .wed_500차수요시위.src }}" alt="{{ .wed_500차수요시위.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_500차수요시위.title }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="lg:flex justify-center pt-12 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .section_02.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .section_02.body }}</p>
                        </div>
                    </div>
                    <div class="mb-8"> 
                        <ul class="flex flex-wrap pt-6">
                            <li class="lg:w-1/4 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full object-cover" src="{{ .wed_700차수요시위.src }}" alt="{{ .wed_700차수요시위.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_700차수요시위.title }}</p>
                            </li>
                            <li class="lg:w-1/4 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full" src="{{ .wed_1000차수요시위및평화비건립.src }}" alt="{{ .wed_1000차수요시위및평화비건립.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_1000차수요시위및평화비건립.title }}</p>
                            </li>
                            <li class="lg:w-1/4 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full" src="{{ .wed_1300차수요시위.src }}" alt="{{ .wed_1300차수요시위.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_1300차수요시위.title }}</p>
                            </li>
                            <li class="lg:w-1/4 w-full">
                                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                                    <img class="absolute w-full" src="{{ .wed_1300차수요시위및나비행진.src }}" alt="{{ .wed_1300차수요시위및나비행진.title }}">
                                </span>
                                <p class="mb-7 mt-7 text-lg font-bold text-center">{{ .wed_1300차수요시위및나비행진.title }}</p>
                            </li>                                                                
                        </ul>
                    </div>
                    {{ end }}
                </div>
                <div x-show="openTab === 2">
                    {{ with .연혁.수요시위연혁 }}
                    <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4 pt-12">{{ .title }}</h2>
                    <div class="lg:flex justify-center py-6">
                        <div class="mb-20">
                            <ul class="text-aa-gray-900 mb-14">
                                {{ range .목록 }}
                                    <li class="lg:flex mb-4">
                                        <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold lg:mb-0">{{ .title }}</h3>
                                        <div>
                                            <dl class="flex">
                                                <dt class="w-36 flex-shrink-0">{{ .date }}</dt>
                                                <dd>{{ range .body}}{{ . }}{{ end }}</dd>
                                            </dl>
                                        </div>
                                    </li>
                                {{ end }}      
                            </ul>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div x-show="openTab === 3">
                    {{ with .참여 }}
                    <div class="lg:flex justify-center py-12">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}</h2>
                        <div class="text-lg">
                            {{ range .body }}
                                <p class="mb-7">{{ . }}</p>
                            {{ end }}  
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}