
<h1><b>재단법인 "일본군성노예제 문제해결을 위한 정의기억연대”</b></h1>
<p><b>정 관</b></p><br>

<p>전 문</p>
<p>일본군성노예제 문제해결을 위한 정의기억 연대(이하 정의기억연대)는1990년 11월 16일 37개 여성단체의 결의로 발족하여 전후 반세기동안 침묵하고 있던 한국사회와 국제사회를 일깨우며, 가해사실과 책임을 부정하는 일본정부에게 범죄 인정을 포함한 법적 책임 이행을 촉구하며, 1991년 8월 14일 김학순 할머니의 첫 공개증언을 시작으로 스스로 생존자임을 밝히고 나아가 일본군성노예제 문제의 해결을 위해 평화와 여성인권 운동가로 살아오신 모든 피해자들의 존엄한 삶을 기억하고 기리고, 1992년 1월 8일부터 시작하여 지금까지 계속해온 수요시위를 통해 진실과 정의의 목소리를 지속적으로 전하며, 남북. 아시아. 국제사회와 연대하여 일본군 성노예제 문제 해결의 목소리를 범세계적으로 확산하며, 국제인권기구에 무력분쟁 하 여성폭력 피해자 문제 해결의 국제인권기준을 제시하며, 전쟁과 여성인권 박물관과 평화비를 건립하여 미래세대를 향한 평화교육과 피해자에 대한 기림활동을 실천하며, 나비기금을 설립하여 현재에도 계속되고 있는 무력분쟁 하에서의 성폭력 피해자들을 지원하고 연대하며, 일본군성노예제 피해자들의 인권회복 뿐 아니라 전시 성폭력 피해자의 인권회복, 재발방지에 기여하며 활동해온 한국정신대 문제 대책협의회의 지난 28년 동안의 업적과 활동을 계승하고, 2016년 6월 9일 2015한일합의 무효화와 일본군성노예제 문제의 정의로운 해결을 위해 100만 시민의 참여로 설립된 일본군 성노예제 문제해결을 위한 정의기억 재단의 설립취지와 활동을 이어 받는다.</p>

<br>
<p style="text-align: left;">제1장 총 칙</p>
<p>제1조(명칭)<br>
이 재단의 명칭은 ‘<u>재단법인 일본군성노예제 문제해결을 위한 정의기억연대</u><u>’</u>라 한다. 영문으로는 <u>The Korean Council for Justice and Remembrance for the Issues of Military Sexual Slavery by Japan</u>이라 한다. 약칭은 <u>정의기억연대</u>, 영문 약칭은 <u>The Korean Council</u>로 한다.</p>

<br><p>제2조(목적) 재단은 일본군‘위안부’라 불렸던 일본군성노예제 문제의 범죄인정, 진실규명, 공식사죄, 법적 배상, 책임자처벌 등을 통한 정의로운 해결을 이룸으로써 피해자들의 명예와 인권 회복에 기여하며, 역사교육 및 추모사업 등을 통해 미래세대로 하여금 일본군성노예제 문제를 올바르게 기억하게 하고, 무력갈등 및 전시성폭력 재발방지와 전시성폭력 피해자의 인권회복에 기여함을 목적으로 한다.</p>
<br><p>제3조(사무소) 재단의 주사무소는 서울특별시에 두며 국내, 국외의 필요한 지역에 분소를 둘 수 있다.</p>
<br><p>제4조(사업)<br>
재단은 제2조의 목적을 달성하기 위하여 아래와 같은 각 호의 사업을 수행한다.<br>
<span style="font-size: 1rem;"><span style="font-size: 14px;">1.</span> <span style="font-size: 14px;">일본정부에 대한 ①진상규명, ②범죄인정 ③공식사죄 ④법적배상 ⑤책임자처벌 ⑥역사교과서 기록 ⑦추모비와 사료관 건립 등 7가지 요구를 이행시키기 위한 사업</span><br>
</span><span style="font-size: 14px;">2. 일본군성노예제 문제에 대한 제반 진상조사와 연구, 기록보존 사업<br>
3. 일본군성노예제 문제와 관련하여 가해국, 피해국, 구연합군 정부의 책임을 규명, 이행하게 하는 사업<br>
4. 일본군성노예제 관련 인권교육사업<br>
5. 일본군성노예제 피해자 지원사업<br>
6. 일본군성노예제 피해와 전시성폭력 피해 재발방지를 위한 국제연대.교류사업<br>
7. ‘전쟁과 여성인권 박물관’ 운영, 평화비 건립과 추모.기림 사업<br>
8. 미래세대를 위한 장학사업<br>
9. 나비기금 지원사업<br>
10. 위 각 호 사업과 관련한 홍보 ㆍ 출판사업<br>
11. 기타 재단의 목적달성에 필요한 사업<br>
12. 위 각 호 사업을 추진하기 위한 모금.수익사업</span></p>
<br><p>제5조(수혜자)<br>
① 재단의 목적사업으로 제공하는 이익은 이를 무상으로 함을 원칙으로 한다. 다만, 그 실비를 수혜자에게 부담시키는 수익사업에 대해서는 이사회의 심의, 의결을 거친다.<br>
② 재단의 목적사업으로 제공하는 이익은 특별히 그 목적을 지정한 경우를 제외하고는 수혜자의 출생지, 출신학교, 직업, 성별, 기타 사회적 신분에 따라 부당하게 차별하여서는 안 된다.</p>
<br><br><p>제2장 임 원</p>
<br><p>제6조(임원의 구성)</p>
<p>재단은 목적사업을 원활하게 수행하기 위하여 다음 각 호의 임원을 둔다.<br>
① 이사장 1인<br>
② 5인 이상의 이사<br>
③ 감사 2인<br>
④ 사무총장은 당연직 이사가 된다.</p>
<br><p>제7조(임원의 임기)<br>
① 이사의 임기는 3년으로 하되 연임할 수 있다.<br>
② 감사의 임기는 2년으로 하며 2회에 한하여 연임할 수 있다.<br>
③ 임원은 임기 만료 후라도 후임자가 취임할 때까지는 임원으로 직무를 수행한다.</p>
<br><p>제8조(임원의 선임)<br>
① 임원은 임기만료 1개월 전에 이사회에서 선출하여 취임한다.<br>
② 이사회는 임원의 임기만료 2개월 전까지 후임임원을 선임하여야 하며 결원이 생길 경우에는 결원이 생긴 날부터 2개월 이내에 후임임원을 선임할 수 있다.</p>
<br><p>제9조(이사장의 선출과 임기)<br>
① 이사장은 이사회에서 재적이사 과반수의 찬성으로 선임한다.<br>
② 이사장의 임기는 3년으로 하고 연임할 수 있다.</p>
<br><p>제10조(이사장과 이사의 직무)<br>
① 이사장은 재단을 대표하고 이사회를 소집하여 그 의사를 주재하며 법령과 이 정관에 정한 직무를 수행한다.<br>
② 이사는 이사회에 출석하여 재단의 업무에 관한 사항을 심의, 의결하며, 이 정관과 이사회가 의결하는 바에 따라 직무를 수행하며, 소정의 회비를 납부하고 재단의 활동에 적극 참여한다.</p>
<br><p>제11조(이사장의 직무대행자와 후임자)<br>
① 이사장이 임기내에 직무를 수행할 수 없는 상황이 생기면 이사회에서 호선된 이사가 이사장의 직무를 대행한다.<br>
② 이사장의 직무를 대리하는 이사는 지체없이 후임 이사장을 선출하는 절차를 밟아야 한다.</p>
<br><p>제12조(감사의 직무)<br>
① 감사는 다음의 직무를 수행한다.<br>
<span style="font-size: 14px;">1. 재단의 업무와 재산상황을 감사하는 일과 이사에게 이에 필요한 자료의 제출 또는 의견을 요구하고 이사회에서 발언하는 일.<br>
2. 재단의 업무와 재산상황에 관하여 이사에게 의견을 진술하는 일.<br>
3. 재단의 업무와 재산상황을 감사한 결과, 불법 또는 부당한 점이 있음을 발견할 때에 이를 이사회에 보고하는 일.<br>
4. 제4호의 보고를 하기 위하여 필요할 때에 이사회의 소집을 요구하는 일.<br>
</span>② 감사는 재단의 업무와 회계 등의 사항에 관하여 연 1회 정기적으로 감사를 하고 그 결과를 이사회에 서면으로 보고하여야 한다.</p>
<br><p>제13조(임원의 해임) 임원이 각 호의 1에 해당하는 경우에 이사회는 재적이사 3분의 2 이상의 찬성으로 그 임원을 해임할 수 있다.<br>
<span style="font-size: 14px;">1. 법령 또는 이 정관을 위반하였을 때<br>
2. 임원간의 분쟁, 회계부정, 재산의 부당한 감손, 현저한 부당행위 등으로 인하여 재단의 설립목적을 달성할 수 없게 할 우려가 생기게 한 때</span></p>
<br><p>제14조(임원의 대우)<br>
임원은 명예직으로서 보수를 지급하지 아니한다. 다만, 이사장과 상임이사는 재단의 직무 수행을 위해 이사회에서 정하는 바에 따라 필요한 보수를 지급할 수 있다.</p>
<br><p>제15조(임원의 결격사유)<br>
① 다음 각 호의 어느 하나에 해당하는 자는 재단의 임원이 될 수 없다.<br>
<span style="font-size: 1rem;">&nbsp;<span style="font-size: 14px;">1. 미성년자</span><br>
</span><span style="font-size: 14px;">&nbsp;2. 피성년후견인 또는 피한정후견인<br>
</span><span style="font-size: 1rem;"><span style="font-size: 14px;">&nbsp;3. 파산자로서 복권되지 아니한 자</span><br>
</span></p>
<br><p>제3장 이사회</p>
<br><p>제16조(이사회의 구성과 기능)<br>
① 업무집행에 관한 중요사항을 심의하기 위하여 이사회를 둔다.<br>
② 이사회는 다음 각 호의 사항을 심의, 의결한다.<br>
<span style="font-size: 14px;">1. 재단의 사업계획 수립과 집행에 관한 사항<br>
2. 정관의 변경에 관한 사항<br>
3. 재단의 해산에 관한 사항<br>
4. 임원의 선임과 해임에 관한 사항<br>
5. 재단의 예산, 결산, 차입금과 재산의 취득, 처분과 관리에 관한 사항<br>
6. 수익사업에 관한 사항<br>
</span><span style="font-size: 1rem;"><span style="font-size: 14px;">7. 기타 법령이나 정관에 의하여 이사회의 권한에 속하는 사항</span><br>
</span>③ 감사는 이사회에 출석하여 발언할 수 있다.</p>
<br><p>제17조(이사회의 개회, 의결 정족수)<br>
① 이사회는 재적이사 과반수의 출석으로 개회한다.<br>
② 이사회는 법령과 이 정관에 특별히 정한 경우를 제외하고는 출석이사 과반수의 찬성으로 의결한다. 다만, 정관의 변경에 관한 사항은 이사회의 의결을 거쳐 주무관청의 허가를 받은 때에 효력이 발생한다.</p>
<br><p>제18조(이사의 제척사유)<br>
① 이사가 다음 각 호의 1에 해당할 때에는 그 의결에 참여하지 못한다.<br>
<span style="font-size: 14px;">1. 임원의 선임과 해임에 관하여 자신과 관련된 사항<br>
2. </span><span style="font-size: 1rem;"><span style="font-size: 14px;">자신과 재단 사이에 이해관계가 상반되는 사항</span><br>
</span>② 제1항의 경우 의결에 참여하지 못하는 이사는 의사정족수 계산에서 제외한다.</p>
<br><p>제19조(이사회 소집)<br>
① 이사회는 정기이사회와 임시이사회로 구분한다.<br>
② 이사회는 이사장이 소집하고 그 의장이 된다.<br>
③ 정기이사회는 연2회이상 소집한다.<br>
④ 임시이사회는 이사장이 필요하다고 인정하는 때, 재적이사의 3분의 1 이상의 서면 요청이 있을 때 또는 감사의 요청이 있을 때 소집한다.<br>
⑤ 이사회를 소집하고자 할 경우, 이사장은 적어도 회의 7일 전에 회의의 목적을 명시하여 각 이사와 감사에게 통지하여야 한다. 다만, 이사 전원이 동의한 경우에는 그러하지 아니한다.</p>
<br><p>제20조(이사회 회의록)<br>
① 이사장은 이사회 회의록을 작성하여 보관하여야 한다.<br>
② 이사회 회의록에는 출석한 이사와 감사가 기명날인하여야 한다.</p>
<br><p>제21조(이사회 운영규정) 이사회의 운영에 관하여 필요한 사항은 따로 이사회에서 정한다.</p>
<br><p>제4장 운영위원회</p>
<br><p>제22조 (운영위원회의 구성과 역할)<br>
① 정의기억연대의 업무를 수행하기 위해 운영위원회를 둘 수 있다.<br>
② 운영위원회의 운영은 이사회에서 정하는 별도 규정에 의한다.</p>
<br><p>제5장 네트워크</p>
<br><p>제23조 (네트워크의 구성과 역할)<br>
① 정의기억연대의 사업 활성화와 연대강화를 위하여 네트워크를 둔다.<br>
② 네트워크의 운영은 이사회가 네트워크 회원단체들의 의견을 들어 만든 별도 규정에 의한다.</p>
<br><p>제6장 부설기구</p>
<br><p>제24조 (부설기구의 구성)<br>
① 정의기억연대의 부설로 다음과 같은 기구를 둘 수 있다.<br>
<span style="font-size: 14px;">1. 전쟁과 여성인권박물관<br>
2. 전쟁과 여성인권 연구소</span></p>
<br><p>제25조 (부설기구의 운영)<br>
① 부설기구의 장은 이사회에서 선임한다.<br>
② 부설기구의 장 임기는 3년으로 하며, 연임할 수 있다.<br>
③ 부설기구의 운영 및 관리는 이사회가 정하는 별도 규정에 의한다.</p>
<br><p>제7장 재산과 회계</p>
<br><p>제26조(재산의 구분)<br>
① 본 재단의 재산은 기본재산과 보통재산으로 구분한다.<br>
② 기본재산은 다음 각 호의 1에 해당하는 재산으로 한다.<br>
<span style="font-size: 14px;">1. 별지 목록에 기본재산으로 기재한 재산<br>
2. 기본재산으로 할 것을 목적으로 출연한 재산<br>
</span><span style="font-size: 1rem;"><span style="font-size: 14px;">3. 보통재산 중 이사회에서 기본재산으로 편입하기로 의결한 재산</span><br>
</span>③ 보통재산은 제2항에서 정한 기본재산 이외의 재산으로 한다.</p>
<br><p>제27조(재산의 관리)<br>
① 기본재산을 매도, 증여, 교환 또는 용도를 변경하거나 담보에 제공하고자 할 때, 기본재산에 관하여 의무를 부과하거나 권리를 포기하고자 할 때, 또는 기본재산에서 부채 총액을 공제한 금액의 100분의 5 이상의 금액을 장기차입하려고 할 때에는 이사회의 의결을 거쳐 주무관청의 허가를 받아야 한다.<br>
② 기본재산과 보통재산의 운영과 관리에 관하여 법령과 이 정관에서 정하지 아니한 사항은 이사회에서 따로 정하는 재무회계규정에 의한다.</p>
<br><p>제28조(재원과 용도)<br>
① 이 재단의 경비는 기본재산에서 나는 과실, 후원금품, 기부금품, 수익사업의 수익과 기타의 수입으로 충당한다.<br>
② 수입은 정관 제4조(사업)을 수행하는 데 사용하며, 특정정당 또는 선출직 후보를 지지, 지원하는 등 정치활동에 사용하지 않는다.<br>
③ 인터넷 홈페이지를 통하여 연간 후원금품, 기부금품 모금액과 활용실적을 다음 연도 4월 말까지 공개한다.<br>
④ 후원금품의 모집, 관리, 운영 등에 관하여는 이사회가 정하는 별도의 규정에 의한다.</p>
<br><p>제29조(업무보고)<br>
① 재단은 연간 사업계획 및 수지예산과 사업실적 및 결산보고서를 매 회계연도 종료 2월 이내에 이사회의 의결을 거쳐 주무관청에 제출하여야 한다. 이 경우에 재산목록과 업무현황 및 감사결과보고서도 함께 제출하여야 한다.</p>
<br><p>제30조(잉여금의 처리) 재단의 매 회계연도 결산잉여금은 차입금상환 또는 다음 회계연도에 이월 사용하는 것을 제외하고는 이를 기본재산에 편입하거나 이사회의 의결을 거쳐 재단의 목적사업에 사용한다.</p>
<br><p>제31조(회계의 구분과 처리)<br>
① 재단의 회계는 목적사업 회계와 수익사업 회계로 구분 관리한다.<br>
② 재단의 회계는 법령에 정한 경우를 제외하고는 일반적인 회계원리에 따라 처리한다.</p>
<br><p>제32조(회계의 공개) 재단의 결산은 홈페이지를 통해 공개한다.</p>
<br><p>제33조(회계연도) 재단의 회계연도는 해마다 1월 1일부터 12월 31일까지로 한다.</p>
<br><p>제34조(수익사업의 종류) 재단은 목적사업 수행과 그 수행에 필요한 재정을 확보하기 위하여 수익사업을 할 수 있다.</p>
<br><p>제8장 재단의 운영</p>
<br><p>제35조(사무처 설치와 구성)<br>
① 재단의 목적사업과 제반 업무를 원활히 수행하기 위하여 사무처를 둔다.<br>
② 사무처에는 사무총장 1인과 기타 필요한 부서와 직원을 둔다.<br>
③ 사무총장은 이사장의 지휘를 받아 사무처의 업무를 총괄하며, 임기는 3년으로 하고 연임할 수 있다.<br>
④ 사무총장 인선은 이사회의 의결로 이사장이 임명한다.<br>
⑤ 사무처 직원의 모집, 자격, 근로조건 및 상벌에 관한 사항은 이사회가 정하는 별도 규정에 의한다.</p>
<br><p>제36조(고문) 재단의 사업과 운영에 필요한 자문을 구하기 위하여 이사회의 의결로 고문을 추대할 수 있다.</p>
<br><p>제37조(자문위원회) 재단의 사업 수행과 운영에 관한 이사회의 자문에 응하기 위하여 자문위원회를 둘 수 있다.<br>
① 자문위원은 이사회의 의결로 이사장이 위촉한다.<br>
② 자문위원회의 구성과 운영에 관하여 필요한 사항은 따로 이사회에서 정한다.</p>
<br><p>제38조(후원회)<br>
① 이 재단의 목적사업과 운영을 위하여 이사회 의결을 거쳐 후원금품을 내는 회원들로 후원회를 둘 수 있다.<br>
② 후원회원은 제2조, 제4조에 규정된 재단의 활동목적과 사업에 찬성, 동의하고 재단이 정한 가입절차를 마친 개인과 법인, 단체로 한다.<br>
③ 재단은 후원회원의 책임과 의무와 권리를 후원 회원에게 공개하여야 한다.</p>
<br><p>제39조(특별위원회)<br>
① 재단의 목적사업을 수행하는 데 특별히 필요한 경우에는 이사회의 의결로 특정한 사업의 수행을 위한 위원회를 둘 수 있다.<br>
② 특별위원회의 구성, 권한과 운영에 관하여 필요한 사항은 이사회에서 정한다.</p>
<br><p><b>제</b><b>9</b><b>장 보 칙</b></p>
<br><p>제40조(정관변경) 재단의 정관을 변경하고자 할 때에는 재적이사 3분의 2 이상의 의결을 거쳐 주무관청의 허가를 받아야 한다.</p>
<br><p>제41조(해산) 재단이 해산하고자 할 때에는 재적이사 3분의 2 이상의 의결을 거쳐 주무관청에 해산신고를 하여야 한다.</p>
<br><p>제42조(청산인) 재단 해산 시 이사장은 당연직 청산인이 된다.</p>
<br><p>제43조(청산종결의 신고) 청산인은 재단의 청산을 종결한 때에는 그 취지를 등기한 후 주무관청에 신고하여야 한다.</p>
<br><p>제44조(잔여재산의 처리) 재단이 해산된 때의 잔여재산은 이사회의 의결을 거쳐 주무관청의 허가를 얻어 국가·지방자치단체 또는 유사한 목적을 가진 다른 비영리법인에 귀속하도록 한다.</p>
<br><p>제45조(운영규정) 이 정관 시행에 관하여 필요한 사항은 이사회의 의결을 거쳐 별도의 규정으로 정한다.</p>
<br><p>제46조(경과조치)<br>
① 이 정관이 효력을 발생하기 이전에 행한 재단 설립 준비행위는 이 재단이 행한 것으로 간주한다.</p>
<br><p>제47조(준용규정) 본 정관에 규정되지 아니한 사항은 민법 중 비영리법인에 관한 규정과 기타의 관계법규와 민주적인 절차에 따라 준용한다.</p>
<p>&nbsp;</p>
<br><p><b>부 칙</b></p>
<br><p>제1조(시행일) 이 정관은 주무관청의 승인을 받은 날부터 효력을 발생한다.</p>
<br><p>제2조(경과조치) 이 정관 시행 당시 재단설립을 위하여 발기인 등이 행한 행위는 이 정관에 따라 행한 것으로 본다.</p>
<p>&nbsp;</p>