<div class="lg:flex justify-center mb-20">
    <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">“정의기억연대 홈페이지에 <br/><span class="mr-4"></span>오신 것을 환영합니다.”</h2>
    <div class="text-lg">
        <p class="mb-7">정의기억연대는 일본군'위안부'피해생존자들이 겪었던 역사를 기억하고 교육하며,
            일본군 성노예제 문제 해결을 위해 활동하는 공간입니다. 지금도 일어나고 있는 전시성폭력 문제에 관심을 가지고 전쟁과 여성폭력 없는 세상을 위해 연대하고 행동하는 박물관입니다. </p>

        <p class="mb-7">안전하고 평화로운 세상에서 아이들이 자라길 바랐던 일본군'위안부' 피해생존자들의 오랜 염원은 국내외 시민들의 공감을 불러일으켜 모금 활동으로 이어졌습니다. 기나긴 여정을 지나
        마침내 2012년 5월 5일 어린이날, 정의기억연대는 미래세대와 시민들에게 특별한 선물이 되어 문을 열었습니다. </p>

        <p class="mb-7">정의기억연대는 다양한 전시와 교육 프로그램을 통해 과거의 역사와 기억을 알리고,
        ‘여성, 인권, 평화’를 향한 현재의 활동을 기록함으로써 미래세대에게 더 나은 세상을 전하고자 합니다.</p>

        <p class="mb-7">초국적 시민 연대의 통로, 미래세대 교육의 장, 기억과 기록의 국제 플랫폼이 되고자 하는 이곳 정의기억연대 홈페이지에 여러분들의 지속적인 관심과 참여 부탁드립니다. </p>

        <p>감사합니다.</p>
    </div>
</div>
<div>
    <h2 class="text-aa-gray-900 text-4xl font-bold leading-tight mb-14" style="word-break:keep-all">“정의기억연대 디자인을 개선하고, 다양한 활동들을 정리합니다.”</h2>
    <ul class="-mx-2.5 lg:flex flex-wrap mb-11">
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/guide/admission/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                일본군성노예제란 ?
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/guide/location/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                오시는 길
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/exhibition/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                수요시위
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/archive/featured/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                전시성폭력재발방지
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/learning-and-research/e-learning/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                단체소식
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        <li class="px-2.5 lg:w-1/3 mb-4">
            <a href="/learning-and-research/programs/" class="flex justify-between items-center border border-aa-gray-200 bg-aa-gray-50 py-3.5 px-7 rounded-sm hover:border-aa-gray-900">
                피해자들의 외침
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
    </ul>
    <ul class="bg-aa-gray-300 flex flex-wrap">
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-01.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-02.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-03.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-04.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-05.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-06.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
        </li>
        <li class="lg:w-1/6 w-1/3">
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-07.png" alt="">
                </span>
            </a>
        </li>
        <li class="lg:w-1/6 w-1/3">
        </li>
        <li class="lg:w-1/6 w-1/3">
            <a href="#">
                <span class="block overflow-hidden relative" style="padding-bottom:100%">
                    <img class="absolute h-full w-full object-cover" src="/images/@content-08.png" alt="">
                </span>
            </a>
        </li>
    </ul>
</div>