{{ with site.Data.activity.ko.org_history }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <div class="w-full pt-4">
                {{ with .정의기억연대연혁 }}
                <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4 pt-12">{{ .title }}</h2>
                <div class="lg:flex justify-center py-6">
                    <div class="mb-20">
                        <ul class="text-aa-gray-900 mb-14">
                            {{ range .목록 }}
                                <li class="lg:flex mb-4">
                                    <h3 class="lg:w-2/12 flex-shrink-0 text-aa-purple-500 text-4xl font-bold lg:mb-0">{{ .title }}</h3>
                                    <div>
                                        <dl class="flex">
                                            <dt class="w-36 flex-shrink-0">{{ .date }}</dt>
                                            <dd>{{ range .body}}{{ . }}{{ end }}</dd>
                                        </dl>
                                    </div>
                                </li>
                            {{ end }}      
                        </ul>
                    </div>
                </div>
                {{ end }}
        </div>
    </div>
</div>
{{ end }}