<div class="bg-white py-14 lg:px-64 px-4">
    <h2 class="text-aa-gray-700 text-5xl font-bold mb-14">찾아오는 길</h2>
    <div class="mb-14">
        <img class="w-full" src="{{ .Site.Params.bucketHostname }}/web/img/img_ww_map.jpg" alt="정의기억연대 찾아오시는 길">
    </div>
    <!--div>
        <dl class="text-lg lg:flex mb-6">
            <dt class="lg:w-20 mb-2 lg:mb-0">지하철</dt>
            <dd>
                <ul class="list-disc ml-4 lg:ml-0">
                    <li>홍대입구역2번출구 → 마을버스6번 → 경성고교입구하차</li>
                    <li>홍대입구역1번출구 → 7711, 7016, 7737 → 경성중고, 홍대부속여중고입구 하차</li>
                </ul>
            </dd>
        </dl>
        <dl class="text-lg lg:flex mb-6">
            <dt class="lg:w-20 mb-2 lg:mb-0">버스</dt>
            <dd>
                <ul class="list-disc ml-4 lg:ml-0">
                    <li>7013A/B, 7711, 7016, 7737 경성중고, 홍대부속여중고입구 하차</li>
                    <li>마포 15, 08 마을버스 → 경성중고사거리 하차</li>
                </ul>
            </dd>
        </dl>
        <p class="text-aa-red">※별도의 주차장이 없으니 대중교통을 이용해주세요.</p>
    </div-->
</div>