<div class="bg-white py-14 lg:px-64 px-4">
    <h2 class="text-aa-gray-700 text-5xl font-bold mb-14">조직</h2>
    <div class="mb-14">
        <img class="w-full" src="{{ .Site.Params.bucketHostname }}/web/img/210603_조직도-001.png" alt="2021년 정의기억연대 조직도">
    </div>
    <h2 class="text-aa-gray-700 text-5xl font-bold mt-14 mb-14">임원</h2>
    <table class="table-auto border-collapse border-aa-gray-800 mb-14 w-full text-center">
        <thead>
          <tr>
            <th>구분</th>
            <th>이름</th>
            <th>소속</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>이사장</td>
            <td>이나영</td>
            <td>중앙대학교 사회학과 교수</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>강혜영</td>
            <td>전 정의연 운영위원</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>김유승</td>
            <td>중앙대학교 문헌정보학과 교수</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>김창록</td>
            <td>경북대학교 법학전문대학원 교수</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>단</td>
            <td>추적단 불꽃 활동가</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>이숙진</td>
            <td>한국기독교장로회 여신도회전국연합회 총무</td>
          </tr>   
          <tr>
            <td>이사</td>
            <td>이은</td>
            <td>명필름 대표</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>이준식</td>
            <td>전 독립기념관장</td>
          </tr>          
          <tr>
            <td>이사</td>
            <td>이태호</td>
            <td>시민사회단체연대회의 운영위원장</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>임윤옥</td>
            <td>한국여성노동자회 전 상임대표</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>정진성</td>
            <td>서울대학교 명예교수</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>조영선</td>
            <td>변호사, 전 국가인권위원회 사무총장</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>최광기</td>
            <td>TALK컨설팅 대표</td>
          </tr>
          <tr>
            <td>이사</td>
            <td>한경희</td>
            <td>정의연 사무총장</td>
          </tr>
          <tr>
            <td>감사</td>
            <td>권태윤</td>
            <td>변호사</td>
          </tr>
          <tr>
            <td>감사</td>
            <td>고희관</td>
            <td>회계사/변호사</td>
          </tr>                                                                      
        </tbody>
      </table>
      <h2 class="text-aa-gray-700 text-5xl font-bold mb-14">홍보대사</h2>
      <div>
          <dl class="text-lg lg:flex mb-6">
              <dt class="lg:w-20 mb-2 lg:mb-0">류시현</dt>
              <dt class="lg:w-20 mb-2 lg:mb-0">권해효</dt>
              <dt class="lg:w-20 mb-2 lg:mb-0">최광기</dt>
              <dt class="lg:w-20 mb-2 lg:mb-0">변영주</dt>
          </dl>
      </div>      
</div>