{{ with site.Data.activity.ko.donation }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <div class="w-full pt-4">
            {{ range .후원목록.목록 }}
            <div class="lg:flex justify-start mb-8">
                <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .title }}</h2>
                <div class="lg:w-3/5 text-lg">
                    <p class="mb-4">{{ .body }} </p>
                    <button class="rounded-full p-4 bg-aa-purple-500 text-aa-gray-100 mb-7"><a href="{{ .url }}" target="_blank">후원하기</a></button>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}