{{ define "main" }}
{{- `<!-- _default/list.html  -->` | safeHTML -}}
<div class="contents-area" id="main-content">
  {{ partial "base/breadcrumb" . }}
  <div class="container pt-24 pb-28 relative">
    <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">{{ .Title }}</h1>
    {{ partial "marketing/sharingbutton" . }}
    {{ partial "marketing/banner--section-single" . }} 
    {{ $paginator := .Paginate .RegularPages }}
     <ul class="list-board01">
      {{ range where .RegularPages "Params.pinned" true }}
        {{ .Render "li" }}
      {{ end }}
      {{ range $paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}
    </ul> 
    {{ partial "app/pagination.html" $paginator }}
  </div>
</div>  
{{- `<!-- _default/list.html  -->` | safeHTML -}}
{{ end}}
