{{ with site.Data.activity.jp }}
<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
        <!-- 일어 가이드 탭 -->
        <div 
            x-data="{
            openTab: 1,
            activeClasses: 'border-2 border-aa-purple-500 text-aa-purple-500',
            inactiveClasses: 'text-gray-900 hover:text-aa-purple-500'
            }" 
            class="p-2 xl:p-8"
        >
            {{ with .submenu }}
            <ul class="flex items-start justify-start xs:text-xs md:text-2xl">
                <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="-mb-px mx-4">
                    <a :class="openTab === 1 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .소개.slug }}">{{ .소개.title }}</a>
                </li>
                <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="mx-4">
                    <a :class="openTab === 2 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .일본군성노예제.slug }}">{{ .일본군성노예제.title }}</a>
                </li>
                <li @click="openTab = 3" :class="{ '-mb-px': openTab === 3 }" class="mx-4">
                    <a :class="openTab === 3 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .활동.slug }}">{{ .활동.title }}</a>
                </li>
                <li @click="openTab = 4" :class="{ '-mb-px': openTab === 4 }" class="mx-4">
                    <a :class="openTab === 4 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .후원.slug }}">{{ .후원.title }}</a>
                </li> 
                <li @click="openTab = 5" :class="{ '-mb-px': openTab === 5 }" class="mx-4">
                    <a :class="openTab === 5 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 xl:px-4 font-semibold" href="#{{ .게시글.slug }}">{{ .게시글.title }}</a>
                </li>               
            </ul>
            {{ end }}    
            
            <div class="w-full pt-4">
                <!-- 일본어 정의기억연대 소개 -->
                <div x-show="openTab === 1">
                    {{ with .정의기억연대소개 }}
                    <div class="lg:flex justify-center pt-24 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .인사말.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .인사말.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .활동목적.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .활동목적.body }}
                            <p class="mb-7"> - {{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-start py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .미션비전.비전.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .미션비전.비전.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-start py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .연락처.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .연락처.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                </div>

                <!-- 일본어 정의 --> 
                <div x-show="openTab === 2">
                    {{ with .definition }}
                    <div class="lg:flex justify-center pt-24 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .definition.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .definition.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .background.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .background.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .comfortstations.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .comfortstations.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .breaking.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .breaking.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>                                        
                    {{ end }}
                </div>

                <!-- 일본어 활동 -->
                <div x-show="openTab === 3">
                    {{ with .victim_support }}
                    <div class="lg:flex justify-center pt-24 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .활동소개.section_01 }} </p>
                            {{ range .활동소개.목록 }}
                            <p class="mb-2">- {{ .title }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}

                    {{ with .wednesday_demonstration }}
                    <div class="lg:flex justify-start pt-12">
                        <h2 class="lg:w-full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                    </div>
                    <div class="lg:flex justify-center">    
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .의미.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-7">{{ .의미.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-start py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .의미.section_02.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-2 font-bold">{{ .의미.section_02.body }}</p>
                            {{ range .의미.section_02.message }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>                    
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .참여.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-2 font-bold">{{ .참여.title }}</p>
                            {{ range .참여.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}

                    {{ with .butterfly_fund }}
                    <div class="lg:flex justify-start pt-12 py-4">
                        <h2 class="lg:w-full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                    </div>
                    <div class="lg:flex justify-center">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .기금설명.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .기금설명.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-start pt-12">    
                        <h2 class="lg:full flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .방향.title }}<br/><span class="mr-4"></span></h2>
                    </div>
                    <div class="lg:flex justify-center pt-1">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">
                        {{ .방향.콩고.title }}   
                        {{ .방향.베트남.title }}
                        {{ .방향.우간다.title }}
                        {{ .방향.팔레스타인.title }}
                        </h3>                                               
                    </div>                    
                    {{ end }}

                    {{ with .memorial }}
                    <div class="lg:flex justify-start pt-12">
                        <h2 class="lg:w-full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .국내평화비.title }}<br/><span class="mr-4"></span></h2>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .국내평화비.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .국내평화비.평화비의의미.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .작은소녀상건립운동현황.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .작은소녀상건립운동현황.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}

                    {{ with .domestic_solidarity }}
                    <div class="lg:flex justify-center pt-12 py-4">     
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .활동소개.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}

                    {{ with .international_solidarity }}
                    <div class="lg:flex justify-start pt-12 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .아시아연대회의.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .아시아연대회의.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .UN.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .UN.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .결의안.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .결의안.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .법정.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .법정.body }} </p>
                        </div>
                    </div>
                    {{ end }}

                    {{ with .research_education_scholarship }}
                    <div class="lg:flex justify-start pt-12 py-4">
                        <h2 class="lg:full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight mb-4">{{ .title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.평화상.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .사업설명.목록.평화상.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.국제기념일.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            <p class="mb-2">{{ .사업설명.목록.국제기념일.body }} </p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.디지털아카이브.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            {{ range .사업설명.목록.디지털아카이브.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.전쟁과여성인권박물관.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            {{ range .사업설명.목록.전쟁과여성인권박물관.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.김복동평화상.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            {{ range .사업설명.목록.김복동평화상.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-2">
                        <h3 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-2xl font-bold leading-tight mb-4">{{ .사업설명.목록.길원옥여성평화상.title }}<br/><span class="mr-4"></span></h3>    
                        <div class="text-lg">
                            {{ range .사업설명.목록.길원옥여성평화상.body }}
                            <p class="mb-2">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                
                <!-- 일본어 후원 -->
                <div x-show="openTab === 4">
                    {{ with .donation }}
                    <div class="lg:flex justify-start pt-12">
                        <h2 class="lg:w-full flex-shrink-0 text-aa-purple-500 text-4xl font-bold leading-tight">{{ .title }}<br/><span class="mr-4"></span></h2>
                    </div>
                    <div class="lg:flex justify-center py-2">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .일시후원신청하기.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            {{ range .일시후원신청하기.body }}
                            <p class="mb-7">{{ . }} </p>
                            {{ end }}
                            <p class="mb-7">
                                {{ .일시후원신청하기.paypal.title }}{{ .일시후원신청하기.paypal.body }}
                            </p>
                            <p class="mb-7 font-semibold">{{ .일시후원신청하기.paypal.message }}</p>
                        </div>
                    </div>
                    <div class="lg:flex justify-center pt-12 py-4">
                        <h2 class="lg:w-2/5 flex-shrink-0 text-aa-purple-500 text-3xl font-bold leading-tight mb-4">{{ .후원목록.title }}<br/><span class="mr-4"></span></h2>
                        <div class="text-lg">
                            <p class="mb-7 text-2xl font-bold">{{ .후원목록.기본.title }} </p>
                            {{ range .후원목록.기본.body }}
                                <p class="mb-7">{{ . }} </p>
                            {{ end }}
                            <p class="mb-7 text-2xl font-bold">{{ .후원목록.나비기금.title }} </p>
                            {{ range .후원목록.나비기금.body }}
                                <p class="mb-4">{{ . }} </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>                                           
            </div>
        </div>
    </div>
</div>
{{ end }}