{{ define "main" }}
{{- `<!-- /index.html  -->` | safeHTML -}}
<div id="main-wrap" class="overflow-x-hidden relative">
  <div id="skip-link">
    <a class="block w-full h-10 leading-10 text-center absolute -top-10 left-0 bg-white z-50" href="#main-content">컨텐츠 바로가기</a>
  </div>
  <div class="contents-area" id="main-content">
      {{/* 슬라이드 배너 홈페이지용 */}}
      {{ partial "marketing/banner--ww--slide" . }}
      
      {{/* 정의기억연대 현안 contents/issues */}}
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          {{ range where (where .Site.RegularPages "Type" "issues") "Params.home_sticky" true }}
          <div class="p-4 md:w-1/3">
            <div class="h-full overflow-hidden">
              <div class="overflow-hidden">
                <img class="object-cover object-center h-full w-full sm:w-full" src="{{ .Params.Image }}" alt="{{ .Params.Title }}">
              </div>
              <div class="p-6">
                <h1 class="text-xl font-medium title-font text-gray-900 mt-5">{{ .Title }}</h1>
                <div class="flex items-center flex-wrap ">
                  <a class="text-lg text-aa-purple-500 inline-flex items-center pt-2" href="{{ .Params.button_url }}">{{ .Params.button_name }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>

      {{/* 공지사항 / 보도자료 */}}    
      <div class="container pb-12">
        <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">공지사항</h1>
        <div class="flex text-sm text-aa-700 py-2 border-aa-purple-500 border-b-2">
            <span class="w-4/6 text-center">제목</span>
            <span class="w-1/6 text-center">날짜</span>
            <span class="w-1/6 text-center">작성자</span>
        </div>
        <ul class="mb-20">
            {{ range first 3 (where site.RegularPages "Type" "connect") }}
                <li class="flex py-6 border-b border-aa-gray-200 text-aa-gray-600">
                    <a class="w-4/6 px-4 text-aa-gray-700 hover:text-aa-purple-500" href="{{ .Permalink }}">{{ .Title }}</a>
                    <span class="w-1/6 text-center"><time>{{ .Date.Format "2006년 1월 2일" }}</time></span>
                    <span class="w-1/6 text-center">{{ .Params.Author_name }}</span>
                </li>
            {{ end }}
        </ul>
      </div>
      <div class="container pt-12 pb-12">
        <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">보도자료</h1>
        <div class="flex text-sm text-aa-700 py-2 border-aa-purple-500 border-b-2">
            <span class="w-4/6 text-center">제목</span>
            <span class="w-1/6 text-center">날짜</span>
            <span class="w-1/6 text-center">작성자</span>
        </div>
        <ul class="mb-20">
            {{ range first 3 (where site.RegularPages "Type" "connect") }}
                <li class="flex py-6 border-b border-aa-gray-200 text-aa-gray-600">
                    <a class="w-4/6 px-4 text-aa-gray-700 hover:text-aa-purple-500" href="{{ .Permalink }}">{{ .Title }}</a>
                    <span class="w-1/6 text-center"><time>{{ .Date.Format "2006년 1월 2일" }}</time></span>
                    <span class="w-1/6 text-center">{{ .Params.Author_name }}</span>
                </li>
            {{ end }}
        </ul>
      </div>         
      
      {{/* 활동소식  */}}
      <div class="container pt-12">
        <div class="relative">
          <h1 class="text-4xl mb-4 text-aa-gray-900 font-bold">활동소식</h1>
          <a class="absolute top-2 right-0 text-aa-purple-500" href="/items">최근 활동 모두보기</a>
        </div>
        {{/*  <p class="text-lg mb-8 text-aa-gray-700">All / Updates / 日本語 / 기림사업 / 나비기금 / 동영상 / 소식 / 모금소식 / 생존자복지쉼터소식 / 연구조사 / 교육연대사업 / 이번 주 수요시위 / 일본국상대소송 / 장학사업 / 전시성폭력재발방지</p> */}}
        <ul class="masonry01 mb-20">
          <li class="grid-sizer"></li>
          <li class="gutter-sizer"></li>
          {{ $settings := .Site.Params }}
          {{ range first 8 (where site.RegularPages "Type" "items") }}
          <li class="mb-10 grid-item">
            <a href="{{ .Permalink }}">
              <span class="overflow-hidden mr-7">
                {{ range .Params.Components }}
                {{ $fileExtension := index (last 1 (split . ".")) 0 }}
                {{ $src := partial "base/cf-image.html" (dict "style" "thumb" "src" . "settings" $settings) }}
                <img class="w-full" src="{{ $src }}" alt="{{ $.Title }}">
                {{ end }}
              </span>
              <span class="block">
                <b class="text-aa-gray-900 text-xl font-normal mb-2 block">{{ .Title }}</b>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script>
        window.addEventListener('DOMContentLoaded', function(){
          imagesLoaded( '.masonry01', function() {
            new Masonry( '.masonry01', {
              "itemSelector": ".grid-item",
              "columnWidth": ".grid-sizer",
              "gutter": ".gutter-sizer",
              "percentPosition": "true"
            })
          })
        })
        </script>   

      {{/* 박물관 안내 */}}
      <div class="relative bg-aa-gray-100 bg-no-repeat">
        <div class="container xl:py-20 pt-11 pb-9 flex">
            <div class="xl:w-1/2 lg:w-1/2 w-full text-center xl:pr-10">
                <h2 class="text-4xl text-aa-gray-800 mb-8 leading-tight">전쟁과여성인권박물관을 <br/>소개합니다</h2>
                <p class="text-lg mb-16">일본군'위안부' 생존자들이 겪었던 역사를 기억하고 교육하며, <br/>
                    일본군'위안부'문제를 해결하기 위해 활동하는 공간입니다. <br/>
                    또한 지금도 계속되고 있는 전시성폭력문제를 해결하기 위해 <br/>
                    연대하며 전쟁과 여성폭력이 없는 세상을 만들어 나가는 행동하는 <br/>
                    박물관입니다.</p>
                <a class="text-lg text-aa-purple-500 inline-flex items-center" href="https://womenandwarmuseum.net" target="_blank">박물관 홈페이지로 이동
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="lg:absolute lg:left-1/2 lg:top-0 lg:h-full h-80 lg:w-1/2 bg-no-repeat bg-contain bg-center" style="background-image:url(/images/bg-main-welcome-wwm.jpg)"></div>
      </div>
      {{/* 뉴스레터 구독폼 */}}
      {{ partial "marketing/form--newsletter" . }}
      {{ partial "feedback/notifications" . }}
  </div>
</div>
{{ end }}
